.bm-burger-button {
  position: fixed;
  align-items: flex-end;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 20px;
}

@media (min-width: 1024px){
    .bm-burger-button{display:none}
}

.bm-burger-bars {
  background: #fff;
}

.bm-cross {
  background: #a2bbd4;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
  padding-right:15px;
  margin-right:15px;
}


.bm-burger-bars-hover {
  background: #ffe4b5;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  outline: none;
  color:#ff8700;
}

.bm-overlay {
  background: #0000004d;
}
