@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Zen+Maru+Gothic&display=swap');

.main-color {
  font-family: "Zen Maru Gothic", sans-serif;
  background-color: #ff8700;
}

.title {
  font-family: 'Varela Round', sans-serif;
}

.results {
  border-color: #ff8700;
}

#submit_bg {
  background-color: #ff8700;
}


.night-color {
    font-family: "Zen Maru Gothic", sans-serif;
    background-color: #a10d03;
  }